   .profile-container {
    max-width: 900px;
    margin: 50px auto;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  input[pInputText] {
    height: 58px;
    font-size: 1rem;
  }
  
  .readonly {
    background-color: #f5f5f5;
    color: #888;
  }
  
  .profile-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
  /* 
  .primary-btn,
  .secondary-btn {
    width: 100%;
    height: 48px;
    font-size: 1rem;
  } */

  .primary-btn {
    background-color: #111;
    border-color: #111;
    height: 51px;
  }
  
  .primary-btn:hover:not(:disabled),
  .primary-btn:active:not(:disabled) {
    background-color: #2a2a2a; /* gris oscuro sutil */
    border-color: #2a2a2a;
  }
  
  .secondary-btn {
    height: 46px;
  }
  .secondary-btn:hover,
  .secondary-btn:active {
    background-color: #f0f0f0;
  }
  
  