/* GENERAL */
.home-container {
    display: flex;
    flex-direction: column;
}

/* ===================== */
/* HERO SECTION           */
/* ===================== */
.hero {
    position: relative; 
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    transition: background-image 2s ease-in-out;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.hero-content {
    max-width: 1400px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2; /* por encima del overlay */
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: .5rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* ===================== */
/* STATS SECTION        */
/* ===================== */

.stats-section {
    background: rgb(250,250,250);
    padding: 4rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

.stats-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.stat-card {
    background: rgb(250,250,250);
    padding: 1rem 1rem;
    border-radius: 16px;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
    transition: transform 0.25s ease, background 0.25s ease, color 0.25s ease;
}

.stat-card:hover {
    transform: translateY(-6px);
    background: #000;
    color: rgb(250,250,250);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.856);
}

.stat-card h2 {
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.stat-card p {
  font-size: 1.7rem;
  font-weight: 400;
}

/* ===================== */
/* INFO SECTION        */
/* ===================== */

.info-section {
  
  padding: 10px 40px;
  background: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-title {
  font-size: 3.5rem;
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

.role-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.info-card {
  background: rgb(250,250,250);
  text-align: center;
  border: 1px solid black;
  border-radius: 14px;
  padding: 18px;
  font-weight: 500;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  transition: 
    transform 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease;
  cursor: pointer;
}

.info-card:hover {
  transform: translateY(-6px);
  background: #000;
  color: rgb(250,250,250);
  box-shadow: 3px 3px 6px #444;
}

.info-card:hover{
  background-color: rgba(0, 0, 0, 0.856);
}
