.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 1rem;
  margin-top: 20px;
}

/* Inputs ocupan toda la celda */
.form-grid > div {
  width: 100%;
}

/* ===== PRIME INPUTS ===== */

.p-inputtext,
.p-inputnumber,
.p-dropdown,
.p-select {
  width: 100%;
}

/* Altura consistente */
.p-inputtext,
::ng-deep.p-inputnumber-input,
.p-select,
.p-dropdown {
  min-height: 42px;
}

/* Textarea */
textarea[pTextarea] {
  width: 100%;
  min-height: 120px;
  resize:none;
}

/* ===== FLOAT LABEL ===== */

p-floatlabel {
  width: 100%;
}

/* ===== ERRORES ===== */

small {
  margin-top: 4px;
  display: block;
  font-size: 0.85rem;
  color: red;
}

/* ===== BOTÓN ===== */

.form-section p-button {
  margin-top: 1rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  margin-top: 16px;
}

.field-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  background: #f8f9fa;
  cursor: pointer;
}

.field-item:hover {
  background: #eef2f5;
}

.day-slots {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.day-row {
  display: grid;
  grid-template-columns: 90px 1fr 1fr;
  gap: 12px;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--surface-card);
  border: 1px solid var(--surface-border);
}

.day-label {
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.time-error {
  grid-column: span 3;
  color: var(--red-500);
  font-size: 12px;
}

h3{
  font-size: 25px;
}

