<div
  style="
    padding-top: 32px;
  "
>

  <!-- CARDS DE ESTADÍSTICAS -->
  <div
    style="
      display: flex;
      gap: 16px;
      margin-bottom: 24px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <app-stadistic-card
      title="Notificaciones totales"
      [value]="totalNotifications"
      icon="pi pi-inbox"
    ></app-stadistic-card>

    <app-stadistic-card
      title="Sin leer"
      [value]="unreadNotifications"
      icon="pi pi-bell"
    ></app-stadistic-card>

    <app-stadistic-card
      title="Esta semana"
      [value]="thisWeekNotifications"
      icon="pi pi-calendar"
    ></app-stadistic-card>

    <app-stadistic-card
      title="Requieren accion"
      [value]="actionRequiredNotifications"
      icon="pi pi-exclamation-circle"
    ></app-stadistic-card>

    <app-stadistic-card
      title="Ultimas 24hs"
      [value]="todayNotifications"
      icon="pi pi-history"
    ></app-stadistic-card>
  </div>

    <!-- LISTADO DE NOTIFICACIONES -->
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 1200px;
      margin: 0 auto;
    "
  >
  @for (notification of pagedNotifications; track notification.id) {
    <app-notification-panel
      [notification]="notification">
    </app-notification-panel>
  }

    @if (totalRecords > rows) {
      <div
        style="
          display: flex;
          justify-content: center;
          margin-top: 24px;
        "
      >
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="120"
          [pageLinkSize]="3"
          [showFirstLastIcon]="true">
        </p-paginator>
      </div>
    }

  </div>

</div>

