
/* Contenedor principal */
.complex-list-container {
  max-width: 1600px;
  margin: 2rem auto;           
  padding: 1rem 2rem;         
  background: rgb(250,250,250);         
  animation: fadeIn 0.4s ease;
}

/* Título */
.complex-list-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  animation: slideDown 0.4s ease;
}

.complex-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;                
  padding: 2rem 1rem;       
  margin-top: 1rem;         
  min-height: 200px;       
}

.complex-card {
  width: 320px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.complex-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.5);
}

/* Reutilizamos las sombras y bordes de .complex-card */
.add-complex-card {
  cursor: pointer;
  border: 2px dashed #ccc; /* Efecto "vacío" */
  background: #f9f9f9;
  justify-content: center; /* Centra verticalmente */
  align-items: center;     /* Centra horizontalmente */
  min-height: 380px;      /* Altura similar a la card con imagen */
  color: #666;
}

.add-complex-card:hover {
  border-color: #272d35;
  color: #272d35;
  background: #fff;
}

.add-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.add-content i {
  font-size: 3rem; /* Tamaño del icono + */
}

.add-content span {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
