/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(250,250,250);
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}

.p-inputtextarea {
  resize: none;
}