.complex-card {
  width: 320px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.complex-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.5);
}

/* Imagen */
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Cuerpo */
.card-body {
  padding: 1rem 1.2rem;
}

.card-title {
  font-size: 1.7rem;
  margin: 0 0 1rem 0;
  color: black;
}

.card-subtitle {
  font-size: 1rem;
  color: #555;
  display: flex;
  
  margin-bottom: 1rem;
}

.status-text {
  font-size: 1rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.card-subtitle i {
  margin-right: 6px;
  color: #666;
}

/* Precio */
.price-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Footer */
.card-footer {
  padding: 0.9rem 1.2rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content:space-between;
}

/* Botón */
::ng-deep .card-footer .p-button {
  transition: background .2s ease;
}

::ng-deep .card-footer .p-button:hover {
  background: #272d35 !important;
}