.complex-detail-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  color: #111;
}

/* ========== COMPLEJO NO ENCONTRADO ========== */

.not-found-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-card {
  background: #ffffff;
  padding: 3rem 4rem;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
}

.not-found-icon {
  font-size: 4rem;
  color: #f59e0b; /* amber */
  margin-bottom: 1rem;
}

.not-found-card h2 {
  margin-bottom: 0.5rem;
  color: #111827;
}

.not-found-card p {
  color: #4b5563;
  font-size: 1rem;
}

/* ========== LOADING ========== */
.loading-container {
  height: 70vh;              
  display: flex;
  align-items: center;       
  justify-content: center;   
}

button {
  background: #111 ;
  border: none ;
  padding: .8rem 1.2rem ;
  border-radius: 8px ;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: #333 ;
}

button .pi {
  color: white;
  margin-right: 10px;
}

.disabled{
  background-color: #F5F3E1 !important
}

.danger{
  background-color: #ef4444 !important;
}